body{
    box-sizing: border-box;
    text-align: center;
    background-color: rgb(128, 125, 128);
    background-image: linear-gradient(to bottom right,rgba(112, 229, 250, 0) 10%,  rgb(106, 98, 185) 60%,rgba(112, 229, 250, 0) 80%,#04a7e7);
}

#main{
    height: 95%;  
    text-align: center; 
}
h2{
    font-size: 40px;
    
}
img{
    border-radius: 20px;
    border: 1px solid black;
    height: 300px;
    width: 300px;
}