body{
    background-color: aquamarine;

}


#fav-list{
    border-radius: 10px; 
    overflow: scroll;
    max-height: 65vh;
    overflow: scroll;
}

#fav-list::-webkit-scrollbar {
    display: none;
}

#fav-items{
    width: 98%;
    margin: 10px;
    height: 150px; 
    border: 1px solid rgb(0, 0, 0); 
    padding: 0%;
    border-radius: 5px;
    background-image: linear-gradient(to right,  rgb(55, 211, 231),rgba(255,0,0,0));
}

#fav-items > div{
    height: 148px; 
    width: 200px; 
    border-radius: 5px;
    float: right;
}
#fav-items > a{
    text-decoration: none;
}

#fav-items  img{
    height: 100%;
    width: 200px;
    background-repeat: no-repeat;
    background-size:auto;
    
}


#fav-items h5{
    font-family: ui-monospace;
    height: 60px;
    overflow: hidden;
    width: 350px;
    margin-left: 20px;
    margin-top: 10px;
    color: black;
    font-weight: 500;
    font-size: 20px;
}

#fav-items button {
    height: 40px;
    margin-left: 50px;
    background-image: linear-gradient(to right,  rgb(250, 75, 98),rgba(255,0,0,0));
    border-radius: 10px;
}


/* ------------------------fav ----------------------------- */

#fav-div{
    background-color: rgb(106, 98, 185);
    background-image: linear-gradient( cyan ,rgba(255, 255, 255,0.5),rgba(3,45,107,0.7));
    border: 1px solid black;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    padding: 15px;
    
}


.centerLists{
    border:  1px solid black;
    width: 70%;
    height: 80%;
    margin: auto;
}

#fav-div h1{
    /* color: ; */
    width: 100%;
    text-align: center;
    font-family: cursive;
}

a img{
    margin: 25px 0 0 25px;
    height: 60px;
    width: 60px;
    border: 1px solid black;
}
