
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

#background{
    margin-top: 0px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
    overflow: hidden;
}

#background img{
    width: 100%;
    height: 150%;
    filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
}

body > h1 {
    margin-top: 15%;
    width: 100%;
    text-align: center;
    font-family: cursive;
    color: white;
    font-size: 80px;
    font-weight: 900;
}

#title-fav{
    float: right;
    margin-right: 50px;
    color: beige;
    font-family: cursive;
    font-size: 30px;
}

#title-fav:hover{
    color: rgb(252, 11, 11);
    text-decoration: underline;
    /* background-image: linear-gradient(to right,rgb(255, 101, 101),rgb(94, 196, 255)); */
}

body > #searchBar{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

#searchBar input{
    width: 30%;
    padding: 5px;
    border-radius: 5px;
}

#searchBar button{
    padding: 5px 20px;
    border-radius: 5px;
}

#mainFlex{
    position: absolute;
    top: 70%;
    display: flex;
    width:100%;
    justify-content: space-between;
    background-color: rgb(128, 125, 128);
    background-image: linear-gradient(to bottom right,rgba(112, 229, 250, 0) 10%,  rgb(106, 98, 185) 60%,rgba(112, 229, 250, 0) 80%,#04a7e7);
}

.sideLists{
    border:  1px solid black;
    width: 25%;
    height: 70%;
    margin: 1%;
    border-radius: 10px;
}
.centerLists{
    border:  1px solid black;
    width: 45%;
    height: 70%;
    margin: 3%;
    overflow: auto;
    border-radius: 10px;
}

#mainFlex h4{
    width: 100%;
    text-align: center;
    font-family: initial;
    
}

#mainFlex h2,#fav-list h2{
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 100px;
    font-family: cursive;
    margin-top: 150px;
}


/* ------------------- english alphabates to fetch -----------  abcd------------------------ */
#alpha{
    padding: 5px 30px;
}

#alphaDiv{
    margin: auto;
    overflow: scroll;
    align-items: center;
    width: 470px;
    padding-bottom: 15px;
}

#alphaDiv::-webkit-scrollbar {
    display: none;
}

ol, ul {
    padding-left: 0rem;
}



#alphaDiv li {
    list-style: none;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 15px;
    color: black;
    border: 1px solid rgb(0, 0, 0);
    background-color: thistle;
    margin-top: 5px;
    text-align: center;
}

#alphaDiv li:hover {
    background-color: rgb(95, 182, 253);
}


/* ----------------alpha fav cat divs styles--------------------- */

#alpha-list,#fav-list,#cat-list{
    margin: auto;
    border-radius: 10px; 
    max-height: 540px;
    overflow: scroll;
    
}

#cat-list{
    max-height: 600px;
}

#alpha-list::-webkit-scrollbar,#fav-list::-webkit-scrollbar,#cat-list::-webkit-scrollbar {
    display: none;
}


#alpha-items,#fav-items,#cat-items{
    width: 98%;
    margin: 10px;
    height: 150px; 
    border: 1px solid rgb(0, 0, 0); 
    padding: 0%;
    border-radius: 5px;
    background-image: linear-gradient(to right,  rgb(55, 211, 231),rgba(255,0,0,0));
}

#alpha-items > div,#fav-items > div,#cat-items > div{
    height: 148px; 
    width: 200px; 
    border-radius: 5px;
    float: right;
}

#alpha-items  img, #fav-items  img, #cat-items  img{
    height: 100%;
    width: 200px;
    background-repeat: no-repeat;
    background-size:auto;
    
}


#alpha-items h5,#fav-items h5,#cat-items h5{
    font-family: ui-monospace;
    height: 70px;
    overflow: hidden;
    width: 350px;
    margin-left: 20px;
    margin-top: 20px;
    color: black;
    font-weight: 500;
}

#alpha-items button, #fav-items button, #cat-items button{
    height: 40px;
    margin-left: 50px;
    background-image: linear-gradient(to right,  rgb(250, 75, 98),rgba(255,0,0,0));
    border-radius: 10px;
}


/* -----------------------fav------------------------- */


#select-cat{
    width: 45%;
    margin: 5px 25%;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
}

#cat{
    padding: 5px 10px;
}


/* ------------------------fav ----------------------------- */

#fav-div{
    background-color: rgb(106, 98, 185);
    background-image: linear-gradient( cyan ,rgba(255, 255, 255,0.5),rgba(3,45,107,0.7));
    float: right;
    height: 0%;
    width: 0%;
    position: fixed;
    left: 100%;
    top: 0%;
    border: 1px solid black;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    padding: 15px;
}

#fav-div:target{
    width: 40%;
    min-height: 100%;
    left: 60%;
}

#fav-div h1{
    /* color: ; */
    width: 100%;
    text-align: center;
    font-family: cursive;
}

#fav-div i{
    position: absolute;
    top: 15px;
    font-size: 30px;
    left: 90%;
    color: red;
}