
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/* backrgroun div and  image */
#background{
    margin-top: 0px;
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    z-index: -1;
}

#background img{
    width: 100%;
    height: 100%;
    filter: blur(2px);
    background-repeat: no-repeat;
    background-size: cover;
}


/* main heading */
body > h1 {
    margin-top: 15%;
    width: 100%;
    text-align: center;
    font-family: cursive;
    color: white;
    font-size: 80px;
    font-weight: 900;
}

#title-fav{
    float: right;
    margin-right: 50px;
    color: beige;
    font-family: cursive;
    font-size: 25px;

}
a{
    text-decoration: none;
}
#title-fav:hover{
    color: rgb(252, 11, 11);
    text-decoration: underline;
    /* background-image: linear-gradient(to right,rgb(255, 101, 101),rgb(94, 196, 255)); */
}


/* search bae  */
body > #searchBar{
    width: 100%;
    margin-top: 50px;
    text-align: center;
}

/* imput  */
#searchBar input{
    width: 30%;
    min-width: 170px;
    padding: 5px;
    border-radius: 5px;
}

#searchBar button{
    padding: 5px 20px;
    border-radius: 5px;
}


/* searhc bar rsults  */
#searchBar ul{
    list-style: none;
    position: absolute;
    text-align: start;
    z-index: 3;
    left: 32%;
    width: 30%;
    overflow: visible;
    background-color: rgb(255, 255, 255);
    border: black solid 1px;
}

#searchBar ul li{
    padding: 0px 10px;
    color: black;
    width: 100%;
    min-width: 170px;
    border: black solid 1px;

}


#searchBar ul li:hover{
    background-color: rgb(179, 179, 179);
}

#searchBar ul li a{
    overflow: hidden;
    height: 30px;
    width: 50%;
    padding: 0%;
    margin: 0%;
    display: inline-block;
    text-decoration: none;
}
#searchBar ul li p{
    margin-right: 10px;
    color: rgb(255, 0, 0);
    float: right;
    padding: 0%;
    margin: 0%;
    font-size: 15px;
}

#redirect{
    float: right;
}






/* main flex to store category and alpha div  */
#mainFlex{
    position: absolute;
    top: 70%;
    display: flex;
    flex-flow:nowrap;
    width:100%;
    justify-content: space-evenly;
    background-color: rgb(128, 125, 128);
    background-image: linear-gradient(to bottom right,rgba(112, 229, 250, 0) 10%,  rgb(106, 98, 185) 60%,rgba(112, 229, 250, 0) 80%,#04a7e7);
}


/* centre list  */
.centerLists{
    border:  1px solid black;
    width: 45%;
    height: 70%;
    margin: 3%;
    overflow: auto;
    border-radius: 10px;
}

#mainFlex h4{
    width: 100%;
    text-align: center;
    font-family: initial;
    
}

#mainFlex h2,#fav-list h2{
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 100px;
    font-family: cursive;
    margin-top: 150px;
}


/* ------------------- english alphabates to fetch -----------  abcd------------------------ */
#alpha{
    padding: 5px;
}

#alphaDiv{
    margin: auto;
    overflow: scroll;
    align-items: center;
    width: 470px;
    padding-bottom: 15px;
}

#alphaDiv::-webkit-scrollbar {
    display: none;
}

ol, ul {
    padding-left: 0rem;
}


/* alpha div item  */
#alphaDiv li {
    list-style: none;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    display: inline-block;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(206, 99, 12);
    margin-top: 5px;
    text-align: center;
}

#alphaDiv li:hover {
    background-color: rgb(95, 182, 253);
}


/* ----------------alpha fav cat divs styles--------------------- */

#alpha-list,#fav-list,#cat-list{
    margin: auto;
    border-radius: 10px; 
    max-height: 540px;
    overflow: scroll;
    
}

#cat-list{
    max-height: 600px;
}

/* removing scroll bars */
#alpha-list::-webkit-scrollbar,#fav-list::-webkit-scrollbar,#cat-list::-webkit-scrollbar {
    display: none;
}

/* iems size  */
#alpha-items,#fav-items,#cat-items{
    width: 98%;
    margin: 10px;
    height: 150px; 
    border: 1px solid rgb(0, 0, 0); 
    padding: 0%;
    border-radius: 5px;
    background-image: linear-gradient(to right,  rgb(55, 211, 231),rgba(255,0,0,0));
}


/* divs of item  image */
#alpha-items > div,#fav-items > div,#cat-items > div{
    height: 148px; 
    width: 200px; 
    border-radius: 5px;
    float: right;
}
#alpha-items > a,#fav-items > a,#cat-items > a{
    text-decoration: none;
}

/* image meal  */
#alpha-items  img, #fav-items  img, #cat-items  img{
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    
}

/* name meal/ */
#alpha-items h5,#fav-items h5,#cat-items h5{
    font-family: ui-monospace;
    height: 70px;
    overflow: hidden;
    width: 350px;
    margin-left: 20px;
    margin-top: 20px;
    color: black;
    font-weight: 500;
}

#alpha-items button, #fav-items button, #cat-items button{
    height: 40px;
    margin-left: 50px;
    background-image: linear-gradient(to right,  rgb(250, 75, 98),rgba(255,0,0,0));
    border-radius: 10px;
}


/* -----------------------fav------------------------- */


#select-cat{
    width: 45%;
    margin: 5px 25%;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px;
}


/* ------------------------fav ----------------------------- */

#fav-div{
    background-color: rgb(106, 98, 185);
    background-image: linear-gradient( cyan ,rgba(255, 255, 255,0.5),rgba(3,45,107,0.7));
    float: right;
    height: 0%;
    width: 0%;
    position: fixed;
    left: 100%;
    top: 0%;
    border: 1px solid black;
    overflow: hidden;
    transition: all 0.1s ease-in-out;
    padding: 15px;
    z-index: 4;
}

#fav-div:target{
    width: 40%;
    min-height: 100%;
    left: 60%;
}

#fav-div h1{
    /* color: ; */
    width: 100%;
    text-align: center;
    font-family: cursive;
}

#fav-div i{
    position: absolute;
    top: 15px;
    font-size: 30px;
    left: 90%;
    color: red;
}
a i{
    position: absolute; 
    top: 10%; 
    left: 92%; 
    font-size: 40px; 
    background-color: rgb(224, 221, 221); 
    border-radius: 3px; 
    border: 1px solid black; 
    padding: 3px;
}


/* screen size less then 1300  */
@media only screen and (max-width:1300px){
    #mainFlex{
        flex-wrap:wrap;
    }

    /* reducing size  */
    .centerLists {
        width: 700px;
    }

    #fav-div:target{
        width: 60%;
        left: 40%;
    }
    a i{
        
        font-size: 30px;
    }
}

/* screen size less then 980  */
@media only screen and (max-width:980px){
    #fav-div:target{
        width: 80%;
        left: 20%;
    }
    body > h1 {
        font-size: 60px;
        font-weight: 700;
    }
    /* decresing size of backforund */
    #background{
        height: 50%;
    }

    #mainFlex{
        top: 50%;
    }
    #title-fav {
        font-size: 20px;
    }
    
    #fav-div i {
        font-size: 25px;
    }
    
}

@media only screen and (max-width:760px){
    .centerLists {
        width: 400px;
    }

    /* radjusting sizes of elements of list items  */

    #alpha-items,#fav-items,#cat-items{
        height: 100px; 
    }
    
    #alpha-items > div,#fav-items > div,#cat-items > div{
        height: 98px; 
        width: 150px; 
    }
    
    
    #alpha-items  img, #fav-items  img, #cat-items  img{
        width: 200px;
        
    }
    
    
    #alpha-items h5,#fav-items h5,#cat-items h5{
        height: 60px;
        width: 200px;
        font-size: 15px;
        margin: 3px 0px 0px 3px;
        font-weight: 300;
    }
    
    #alpha-items button, #fav-items button, #cat-items button{
        height: 30px;
        margin-left: 20px;
        background-image: linear-gradient(to right,  rgb(250, 75, 98),rgba(255,0,0,0));
        border-radius: 10px;
        font-size: 12px;
        padding: 2px 5px;
    }

    body > h1 {
        margin-top: 20%;
        font-weight: 500;
    }

    /* search bar size reduced  */
    #searchBar input{
        width: 40%;
    }

    #searchBar button{
        padding: 5px 10px;
        font-size: 15px;
        border-radius: 5px;
    }

    #searchBar ul{
        left: 25%;
        width: 40%;
    }

    #searchBar ul li{
        padding: 0px 10px;
        color: black;
        min-width: 120px;
        height: 40px;
    }


    #searchBar ul li a{
        font-size: 12px;
        width: 100%;
    }

    #searchBar ul li p{
        visibility: hidden;
        height: 0%;
        width: 0%;
    }
    #title-fav {
        margin-right: 20px;
    }
    #mainFlex h4 {
        font-size: 17px;
    }

    #alphaDiv {
        width: 370px;
        padding-bottom:10px;
    }

    #fav-div i {
        font-size: 20px;
    }
}


/* screen size lessss then 530  */
@media only screen and (max-width:530px){

    #select-cat {
        font-size: 12px;
    }
    #fav-div:target{
        width: 100%;
        left: 0%;
    }
    a i {
        
        font-size: 20px;
    }

    #background{
        height: 42%;
    }

    #mainFlex{
        top: 42%;
    }
    #title-fav {
        margin-right: 10px;
        font-size: 15px;
    }
    #fav-div i {
        font-size: 15px;
    }
    #alphaDiv li{
        margin-left: 2px;
        height: 18px;
        width: 18px;
        font-size: 10px;
    }
    body > h1 {
        font-size: 38px;
    }
    
}

@media only screen and (max-width:400px){
    #fav-div:target{
        width: 100%;
        left: 0%;
    }
    body > h1 {
        margin-top: 20%;
        font-weight: 300;
        font-size: 35px;
    }

        
    #searchBar input{
        font-size: 12px;
        padding: 2px;
        border-radius: 5px;
    }

    #searchBar button{
        padding: 2px 10px;
        font-size: 12px;
    }

    #searchBar ul{
        left: 18%;
        width: 45%;
        overflow: hidden;
    }

    #searchBar ul li{
        padding: 0px 5px;
        min-width: 170px;
        padding: 2px;
    }



    #searchBar ul li a{
        overflow: hidden;
        height: 20px;
        font-size: 12px;
        width: 100%;
    }
    #searchBar ul li p{
        height: 0px;
        width: 0px;
    }
    #title-fav {
        margin-top: 20%;
        margin-right: 10px;
        font-size: 12px;
    }

    
    #alpha-items > div,#fav-items > div,#cat-items > div{
        height: 98px; 
        width: 100px; 
    }

    #alpha-items  img, #fav-items  img, #cat-items  img{
        width: 100px;
        
    }

    
    
    #alpha-items h5,#fav-items h5,#cat-items h5{
        height: 50px;
        width: 140px;
        font-size: 12px;
    }
    
    #alpha-items button, #fav-items button, #cat-items button{
        height: 30px;
        margin-left: 20px;
        background-image: linear-gradient(to right,  rgb(250, 75, 98),rgba(255,0,0,0));
        border-radius: 10px;
        font-size: 12px;
        padding: 0px 5px;
    }

    #alphaDiv {
        width: 100%;
        padding-bottom:10px;
    }

    

    

    
}

@media only screen and (max-width:320px){
    #mainFlex{
        top: 38%;
    }
    #background{
        height: 38%;
    }
}